
.payments-table {
    width: 94vw;
    margin-top: 30px;
}

.headings-row{
    display: flex;
    flex-direction: row;
    height: 20px;
}

.headings-row {
    background-color: #FE3E12;
    padding-left: 5px;
    padding-right: 5px;
}

.heading-no, .info-container-no {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.heading, .info-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.empty-heading {
   flex: 3;
}

.heading-text {
    color: #fff;
    font-weight: 500;
}

.payment-row {
    display: flex;
    flex-direction: row;
    background-color:#F0EEEE;
    margin-bottom: 2px;
    height: 30px;
    
}

.payment-info{
    font-weight:400;
    font-size: 16px;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
}

.ewallet-btn-container{
    flex: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width:767px){

    .heading-no, .info-container-no {
        flex: 1;
    }
    
        
    .heading, .info-container {
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .empty-heading,  .ewallet-btn-container {
        flex: 1;
    }
}