.payments-container{
    height: 100vh;
    width: 100vw;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
   
}

.payments-table {
    width: 94vw;
    margin-top: 30px;
}

.headings-row{
    display: flex;
    flex-direction: row;
    height: 20px;
}

.headings-row {
    background-color: #FE3E12;
    padding-left: 5px;
    padding-right: 5px;
}

.heading, .info-container, .heading-2, .info-container-2, .heading-3, .info-container-3, 
.heading-4, .info-container-4, .heading-5, .info-container-5, .heading-6, .info-container-6, 
.heading-7, .info-container-7 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
 
.heading-text {
    color: #fff;
    font-weight: 500;
    font-size: 11px;
}

.payment-row {
    display: flex;
    flex-direction: row;
    background-color:#F0EEEE;
    margin-bottom: 2px;
    height: 30px;
}

.payment-info{
    font-weight:400;
    font-size: 16px;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
}

.payment-btn-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.m-payment-btn-container {
    display: none;
}

@media(max-width:767px){
    .m-payment-btn-container {
        display: block;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
    }   

    .payment-btn-container {
        display: none;
    }

    .heading-3, .info-container-3, .heading-4, .info-container-4, 
    .heading-5, .info-container-5, .heading-6, .info-container-6 {
        display: none
    }

    .heading, .info-container {
        flex:1
    }

    .heading-2, .info-container-2 {
        flex:5
    }

    .heading-7, .mobile-payment-btn-container {
        flex:2;
    }
}